html,
body {
  margin: 0;
  width: 100%;
}
.f-cb {
  overflow: hidden;
}
p {
  height: 170px;
  padding: 10px;
  color: #FFF;
}
.clear {
  clear: both;
}
#m-main {
  position: relative;
  min-height: 100%;
  _height: 100%;
  overflow: hidden;
}
.g-mn-text-common {
  height: 170px;
  padding: 10px;
  margin-bottom: 10px;
  color: #FFF;
}
.g-sd-text-common {
  height: 170px;
  padding: 10px;
  color: #FFF;
}
.g-bd p {
  background-color: #CC8600;
}
.g-bd,
.g-bd1,
g-bd4 {
  margin: 0 0 10px;
}
.g-mn {
  float: left;
  margin-right: -340px;
  width: 100%;
}
.g-mnc {
  margin-right: 350px;
}
.g-sd1,
.g-sd2 {
  position: relative;
  float: right;
  width: 130px;
}
.g-sd1 {
  width: 200px;
  margin-left: 10px;
}
.g-sd1 p {
  background-color: #CCC;
}
.g-sd2 p {
  background-color: #E44108;
}
.g-bd4 {
  margin-bottom: 10px;
}
.g-sd41-text {
  background-color: #16839D;
}
.g-sd42-text {
  background-color: #571356;
}
.g-sd41,
.g-sd42 {
  width: 200px;
}
.g-sd41 {
  float: left;
  margin-right: -200px;
}
.g-sd42 {
  float: right;
  margin-left: -200px;
}
.g-mn4 {
  float: left;
  width: 100%;
}
.g-mn4-text {
  background-color: #605941;
}
.g-mnc4 {
  margin: 0 210px;
}
.g-mn-text {
  background-color: #572013;
}
.g-mn1 {
  float: left;
  width: 100%;
}
.g-mnc1 {
  margin-right: 360px;
}
.g-sd11-text {
  background-color: #574C13;
}
.g-sd11 {
  position: relative;
  float: right;
  width: 350px;
  margin-left: -350px;
}
.g-bd2 {
  width: 1000px;
  margin: 0 auto 10px;
}
.g-sd21 {
  float: right;
  width: 230px;
}
.g-mn2 {
  float: left;
  width: 760px;
}
.g-mn2-text {
  background-color: #133557;
}
.g-sd21-text {
  background-color: #571356;
}
.g-bd3 {
  margin: 0 0 60px;
  zoom: 1;
}
.g-sd31,
.g-sd32 {
  position: relative;
  float: left;
  width: 200px;
}
.g-sd31 {
  width: 180px;
  margin-right: 10px;
}
.g-bd3 p {
  background-color: #16839D;
}
.g-sd31 p {
  background-color: #88704C;
}
.g-sd32 p {
  background-color: #7D884C;
}
.g-mnc3 {
  margin-left: 400px;
}
.g-ft p {
  height: auto;
  margin: 0;
  padding: 10px;
  color: #000;
}
.g-ft {
  height: 50px;
  margin: -50px 0 0;
  background: #DDD;
  color: #000;
}
