html,
body {
  margin: 0;
  font-size: 12px;
}
.g-demo {
  padding: 5px 0;
  overflow: hidden;
}
.g-con {
  position: relative;
  float: left;
  margin-right: 80px;
}
.g-demo .data {
  display: inline;
  float: left;
  margin-left: -70px;
}
