#footer {
  width: 1000px;
  margin: 0 auto;
  color: #999;
  margin-bottom: 8px;
  overflow: hidden;
}
#footer a {
  color: #999;
}
#footer a:hover {
  color: #383838;
}
#footer li {
  float: left;
  padding: 0 10px;
  border-left: #cccccc solid 1px;
}
#footer li.ffirst {
  border-left: none;
}
.bottom_nav {
  margin: 15px 0;
  float: left;
}
.bottom_nav a {
  padding-right: 5px;
}
.footer_left {
  float: left;
  width: 450px;
}
.footer_left p {
  clear: left;
}
.footer_right {
  width: 130px;
  float: right;
  padding-top: 10px;
}
.footer_right span {
  height: 25px;
  line-height: 25px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer_right p {
  padding-left: 30px;
  height: 30px;
  line-height: 30px;
}
.tel {
  background: url("../img/icon.png") 0 -47px no-repeat;
}
.email {
  background: url("../img/icon.png") left no-repeat;
}
